import turtle
x = turtle.Turtle()
x.screen.bgcolor("black")
x.pensize(3)
x.color("green")
x.left(90)
x.backward(180)
x.speed(300)
x.shape("turtle")


def tree(i):
    if i<15:
        return
    
    else:
        x.forward(i)
        x.color("greeen")
        x.circle(2)
        x.left(30)
        tree(3* i/4)
        x.right(60)
        tree(3* i/4)
        x.left(30)
        x.backward(i)
tree(120)
turtle.done()
